.product-title {
    font-size: 29px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: -2px;
    color: #3A3A3A;
}

.cargo-info,
.product-instalment {
    font-size: 15px;
    letter-spacing: -1px;
    color: #999;
    margin: 0;
}

.product-image-wrapper {
    padding: 15px 0;
}

.cargo-info {
    font-size: 13px;
    margin-top: 5px;
    float: right;
}

.price-wrapper {
    margin-bottom: 10px;
}

.price-wrapper .item-price-old {
    text-decoration: line-through;
    color: #707070;
    font-size: 24px;
    line-height: 18px;
    font-weight: normal;
    text-align: right;
}

.price-wrapper .discount-percent {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    background-position: -362px -135px;
    width: 160px;
    height: 72px;
    color: #000;
}

.price-wrapper .discount-percent .discount-text {
    display: block;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 3px;
    font-weight: 900;
}

.product-price {
    font-size: 37px;
    font-weight: bolder;
    color: #EE6A05;
}

.product-price span {
    font-size: 28px;
}

.product-info-cont {
    margin-left: -10px;
}

.product-info-right {
    float: right;
}

.product-info-cont .comment-link,
.product-info-cont div.cargo,
.product-info-cont div.free-cargo {
    float: left;
}

.product-info-cont .star {
    float: right;
}

.badge.free-cargo {
    font-size: 14px;
    line-height: 24px;
    color: #3FAF6C;
}

.badge.cargo .sprite {
    width: 50px;
    height: 25px;
    margin-right: 5px;
    background-position: -440px 0;
    float: left;
}

.badge.cargo {
    font-size: 14px;
    line-height: 24px;
    color: #EE6A05;
}

.badge.free-cargo .sprite {
    width: 50px;
    height: 25px;
    margin-right: 5px;
    background-position: -390px 0;
    float: left;
}

.product-mid-badges {
    font-weight: 600;
    color: #7B7B7B;
}

.sprite-product {
    width: 22px;
    height: 20px;
    float: left;
    margin-right: 10px;
}

.sprite.chance {
    background-position: -99px -2px;
}

.sprite.fast-cargo {
    background-position: -122px -2px;
}

.sprite.outlet {
    background-position: -145px -2px;
}

.share {
    position: absolute;
    bottom: 15px;
    margin-left: 15px;
}

.share-text {
    float: left;
    margin-right: 10px;
    font-weight: 600;
    color: #ACACAC;
}

.share .sprite {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 5px;
}

.share .sprite.share-twitter {
    background-position: -60px -160px;
}

.share .sprite.share-pinterest {
    background-position: -92px -160px;
}

.share .sprite.share-facebook {
    background-position: -125px -160px;
}

.share .sprite.share-googleplus {
    background-position: -158px -160px;
}

.share .sprite.share-rss {
    background-position: -191px -160px;
}

.product-row {
    padding: 13px 0;
    border-top: 1px solid #EEE;
}

.product-row:last-child {
    padding: 13px 0 0 0;
}

.product-options .nav {
    margin-top: -10px;
    margin-left: -10px;
}

.product-options .nav li {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.product-options .nav li a {
    border: 2px solid #DADADA;
    color: #8A8A8A;
    font-size: 13px;
    line-height: 14px;
}

.product-options .nav li a span.price {
    display: block;
    color: #383838;
    font-size: 16px;
    font-weight: bold;
}

.product-options .nav li a:hover,
.product-options .nav li a.active {
    border: 2px solid #EE6A05;
    background: none;
}

.product-piece .btn-group .btn:focus,
.product-piece .btn-group .btn:active,
.product-piece .btn-group .btn:hover {
    background: none;
}

.product-piece #productQuantity {
    width: 40px;
}

.add-to-cart {
    text-decoration: none;
    color: #FFF;
    border: none;
    padding: 10px 40px;
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
    background: #EE6A05;
    float: right;
}

.add-to-cart:focus,
.add-to-cart:active,
.add-to-cart:hover {
    color: #FFF !important;
    background: #EE6A05 !important;
}

.product-details {
    margin-top: 30px;
}

.product-details .block {
    padding: 15px;
}

.product-details .nav-tabs {
    border: 0;
    margin-left: -10px;
    margin-bottom: 20px;
}

.product-details .nav li a {
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #C8C8C8;
    padding: 10px 15px;
}

.product-details .nav li.active a,
.product-details .nav li a:active,
.product-details .nav li a:hover {
    border: 0;
    color: #FFF;
    background: #EE6A05;
}

.sprite.sprite-details {
    display: none;
    width: 40px;
    height: 8px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -20px;
    background-position: -600px -1px;
}

.product-details .nav li.active .sprite.sprite-details {
    display: block;
}

.product-details #product-info img {
    width: 100%;
}

@font-face {
    src: url("../fonts/digital-7.ttf");
    font-family: digital;
}

.limited-offers {
    background: #4C4C4C;
    color: #FFF;
    padding: 20px 0;
    font-size: 24px;
}

.yellow-text {
    color: #FFC70B;
}

.digital {
    line-height: 30px;
    font-size: 34px;
    font-family: digital, Arial, monospace;
}

.time-text {
    font-size: 16px;
    color: #969696;
    margin-left: 10px;
}

.sprite.megaphone {
    width: 61px;
    height: 41px;
    float: left;
    margin-top: -3px;
    margin-bottom: -10px;
    margin-right: 10px;
    background-position: -1000px 0;
}

.product-discount {
    background-position: -362px -135px;
    width: 160px;
    height: 72px;
}

#thumbnailCarousel a {
    border: 3px solid #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    display: inline-block;
}

#thumbnailCarousel a:hover,
#thumbnailCarousel .active {
    border: 3px solid #E9661F;
}

.sprite.arrowUp {
    width: 34px;
    height: 13px;
    display: block;
    margin: 0 0 10px 14px;
    background-position: -62px -190px;
}

.sprite.arrowDown {
    width: 34px;
    height: 15px;
    display: block;
    margin: 10px 0 0 14px;
    background-position: -103px -190px;
}

.productImages img {
    width: 100%;
}

.product-piece {
    float: left;
}

.product-details-container .block {
    padding: 15px;
}

.similar-items.block {
    margin-top: 30px;
    padding: 0 15px 15px 15px;
}

.similar-items.items-wrapper .item {
    padding: 15px 0 0 0;
}

.similar-items.items-wrapper .item .image {
    width: 50px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}

.similar-items.items-wrapper .item .name {
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}

.similar-items.items-wrapper .item .old-price {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    margin-left: 55px;
}

.similar-items.items-wrapper .item .price {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin-left: 55px;
}

.similar-items.items-wrapper .item .discount-percent {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFC100;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 11px 0 0 0;
}

.similar-items.items-wrapper .item .discount-percent .discount-icon {
    font-size: 10px;
    font-weight: bold;
}

.similar-items.items-wrapper .item .discount-percent .discount-text {
    font-size: 7px;
    font-weight: bold;
    display: block;
}

@media only screen and (max-width: 1199px) {
    .limited-offers {
        text-align: center;
    }

    .limited-offers .container > div {
        float: none !important;
    }

    .product-info-right {
        margin-left: 10px;
        float: left;
    }
}

@media only screen and (max-width: 992px) {
    .limited-offers {
        margin-top: 15px;
    }

    .productThumbImage {
        float: left;
        margin-left: 10px;
    }

    #thumbnailContainer {
        display: inline-block;
        margin-bottom: 15px;
    }

    .product-details li {
        width: 100%;
        margin-bottom: 10px;
    }

    .product-details .nav li.active .sprite.sprite-details {
        display: none;
    }

    .sprite.arrowUp {
        position: absolute;
        left: -20px;
        top: 24px;
        transform: rotate(-90deg);
    }

    .sprite.arrowDown {
        position: absolute;
        right: 0;
        top: 15px;
        transform: rotate(-90deg);
    }

    .mm-listview > li {
        width: 100%;
    }

    .mm-panels > .mm-panel.dropdown-menu > .mm-listview {
        margin: 0 0 0 -20px !important;
    }

    #productDetNav-accordion.panel-group.items-wrapper .panel .panel-heading a {
        background: #EE6A05;
        color: #FFF;
        border-radius: 7px;
    }

    #productDetNav-accordion.panel-group.items-wrapper .panel .panel-heading a.collapsed {
        background: #E2E2E2;
        color: #000;
    }
}

@media only screen and (max-width: 767px) {
    .limited-offers {
        text-align: left;
    }

    .product-piece {
        float: none;
    }

    .add-to-cart {
        float: none;
        margin: 10px auto 0 auto;
    }

    .cargo-info {
        float: none;
    }

    .product-details-container {
        text-align: center;
    }

    .product-options .nav li {
        margin: 0 0 10px 0;
        padding-left: 10px;
        width: 50%;
    }

    .product-image-wrapper {
        padding-bottom: 50px;
    }

    .sprite.arrowDown,
    .sprite.arrowUp {
        margin: 0 auto 10px auto;
    }

    .product-info-cont div::after {
        display: table;
        content: " ";
        clear: both;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .product-options .nav {
        margin-top: 0;
    }

    .sprite.arrowUp {
        position: absolute;
        left: -5px;
        top: 24px;
        transform: rotate(-90deg);
    }

    .sprite.arrowDown {
        position: absolute;
        right: 0;
        top: 24px;
        transform: rotate(-90deg);
    }
}
